In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#pd. set_option('display.max_columns', None)
#pd. set_option('display.max_rows', None)

### Create a data frame with information additional information about language, genres and release date
*For this step, we need information from other dataframes generated in the folders "02_audio" and "03_lyrics"!*

#### Load dataframe with basic information and merge the lyrics dataframe to get the language of song

In [32]:
df1 = pd.read_pickle("../../files/pickle/basicinfo.pkl")

In [33]:
#df1 = df1.drop(['Unnamed: 0'], axis=1)

In [34]:
df2 = pd.read_pickle("../../files/pickle/lyricsenhanced.pkl")

In [35]:
df2 = df2[['id', 'lang']]

In [36]:
df = pd.merge(df1, df2, how='left', on=['id'],
                         sort=False)

In [37]:
df.head()

,id,artist,title,year,month,week,totalweeksincharts,total2018weeksincharts,total2019weeksincharts,total2020weeksincharts,lang
0,1,Kollegah & Farid Bang,One Night Stand,2018,1,1,4,4,0,0,de
1,2,Bausa,FML,2018,1,1,7,7,0,0,de
2,3,Jazn,Bombay,2018,1,1,9,9,0,0,de
3,4,Tom Walker,Leave A Light On,2018,1,1,28,28,0,0,en
4,5,G-Eazy feat. A$AP Rocky & Cardi B,No Limit,2018,1,1,5,5,0,0,en

#### Add information about genres and release date from Spotify data

In [38]:
df3 = pd.read_pickle("../../files/pickle/audioanalysis_compl.pkl")

In [39]:
df3 = df3[['id', 'genres', 'genre', 'release']]

In [40]:
df = pd.merge(df, df3, how='left', on=['id'],
                         sort=False)

In [41]:
df.head()

,id,artist,title,year,month,week,totalweeksincharts,total2018weeksincharts,total2019weeksincharts,total2020weeksincharts,lang,genres,genre,release
0,1,Kollegah & Farid Bang,One Night Stand,2018,1,1,4,4,0,0,de,[german hip hop],german hip hop,2018-06-29
1,2,Bausa,FML,2018,1,1,7,7,0,0,de,"[german hip hop, german pop]",german hip hop,2017-12-29
2,3,Jazn,Bombay,2018,1,1,9,9,0,0,de,"[german hip hop, german trap]",german hip hop,2018-11-23
3,4,Tom Walker,Leave A Light On,2018,1,1,28,28,0,0,en,"[indie anthem-folk, indie cafe pop, pop, uk pop]",indie anthem-folk,2017-10-13
4,5,G-Eazy feat. A$AP Rocky & Cardi B,No Limit,2018,1,1,5,5,0,0,en,"[hip hop, indie pop rap, oakland hip hop, pop ...",hip hop,2017-12-15

In [42]:
df = df[(pd.DatetimeIndex(df['release']).year >= df['year'])].reset_index(drop=True)

In [43]:
df.shape

(1756, 14)

In [45]:
df['year'].value_counts()

2019    606
2020    599
2018    551
Name: year, dtype: int64

In [46]:
df.to_csv('../../files/csv/overview.csv')
df.to_pickle('../../files/pickle/overview.pkl')